body {
    /* font-family: 'Roboto', sans-serif; */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2em;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.nav-link {
    color: black;
}

.fa {
    color: black;
    padding: 12px;
}

.container {
    margin: 10px;
}

.card {
    border: none;
}

.homepagePhoto_1 {
    height: 250px;
    width: auto;
    padding: 5px;
    margin: 5px;
}

.front-end {
    font-size: 18px;
    font-weight: 500;
}

.word-press {
    font-size: 18px;
    font-weight: 500; 
}

.full-stack {
    font-size: 24px;
    font-weight: 700; 
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color:rgba(255,255,255,.5);
    background-color: #343a40;
}