body {
    /* font-family: 'Roboto', sans-serif; */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2em;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: black;
}

a.navbar-brand.nav-item.active {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
}

.navbar {
    opacity: 0.9;
}

.nav-link {
    color: black;
}

.fa {
    color: black;
    padding: 12px;
}

.container {
    margin: 5rem;
}

.card {
    border: none;
}

img.img.img-thumbnail {
    border: none;
    height: auto;
    width: auto;
}

.homepagePhoto_1 {

}

.front-end {
    font-size: 20px;
    font-weight: 500;
}

.word-press {
    font-size: 20px;
    font-weight: 500; 
}

.full-stack {
    font-size: 24px;
    font-weight: 700; 
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color:rgba(255,255,255,.5);
    background-color: #343a40;
}