body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2em;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: black;
}

a.navbar-brand.nav-item.active {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
}

#github a {
    /* font-family: 'Roboto', sans-serif;   */
}

.col {
    display: block;
}

.navbar {
    opacity: 0.9;
}

.nav-link {
    color: black;
}

.fa, .fas, .fab {
    color: black;
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
}

.main-title {
    font-size: 170px;
    padding: 0;
    margin: 0;
}

small {
    padding: 0;
    top: -26px;
    position: relative;
    left: 60px;
}

h1 {
    display: block;
}

h2 {
    /* font-family: 'Roboto Mono', sans-serif; */
}

#main {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.card {
    border: none;
}

img.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    max-height: 600px;
    border: none;
    /* height: auto;
    width: auto; */
}

.front-end {
    padding-top: 3rem;
    font-size: 20px;
    font-weight: 500;
}

.word-press {
    font-size: 20px;
    font-weight: 500; 
}

.full-stack {
    font-size: 24px;
    font-weight: 700; 
}


ul {
    list-style-type: none;
  }

.col a {
    color: gray;
    font-size: 30px;
    
}

#github {
    padding: 5rem;
    height: 10rem;
}

.p-3 {
    color: lightblue;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    border: solid 1px;
}

  .nav-bar {
      text-align: center; 
      position: relative;
  }

 .nav-social {
     padding-top: 0.5rem;
 } 

footer {
    bottom: 0;
    color:red;
    height: 2em;
    left: 0;
    position: relative;
    font-size: small;
    width:100%;
}

